html, body {
    margin:0;
    padding:0;
}

/* Header */
div#header {
    background: rgb(219, 86, 10);
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

/* Content */
div#content {
    background-color: #ccc;
}
div#menu {
    padding: 10px 20px;
}
div#robot-commands {
    padding: 10px 20px;
    border: solid #333;
    border-width: 0 1px;
}

/* Footer */
div#footer {
    background-color: #333;
}

/* Form classes */
div.control {
    padding: 10px;
    width: 100%;
}
div.control label {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
}
div.control input {
    width: 100%;
    height: 32px; 
}
.btn {
    border-radius: 3px;
    margin: 0 2px 2px 0;
    height: 32px;
    border: 1px solid black;
    color: white;
    min-width: 150px; /* width dimension of the button */
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
.btn:active {
    margin: 1px 1px 1px 1px;
    box-shadow: none;
}
.btn:disabled {
    color: grey;
    box-shadow: none;
}
.btn-success { background-color: darkgreen; }
.btn-danger { background-color: darkred; }
.btn-info { background-color: darkblue; }

/* Helper classes */
div.column-20,
div.column-30,
div.column-40,
div.column-50,
div.column-60,
div.column-70 {
    float:left;
    box-sizing: border-box;
}
div.column-20 { width:20%; }
div.column-30 { width:30%; }
div.column-40 { width:40%; }
div.column-50 { width:50%; }
div.column-60 { width:60%; }

@media (max-width: 800px) {
    div.column-20 { width:100%; }
    div.column-30 { width:100%; }
    div.column-40 { width:100%; }
    div.column-50 { width:100%; }
    div.column-60 { width:100%; }
}
div.clear {
    clear: both;
}
div.dark {
    color: white;
}
div.align-left { text-align:left; }
div.align-center { text-align:center; }
div.align-right { text-align:right; }

/* table */
table {
    width: 100%;
}
table tr {

}
table tr td {
    text-align: center;
}
table tr td span {
    font-weight: bold;
}